/* Common */
body {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
}
.container {
  margin: 0 auto;
  width: 600px;
  padding: 50px 30px;
}

h1 {
  font-weight: 800;
  padding-bottom: 30px;
}

h2 {
  text-decoration: underline;
  padding-bottom: 10px;
}

.recipe {
  padding: 30px 0;
}
