/* Common */
body {
    color: #526475;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    background-color: #FFF;
}

a {
    color: #09a0f6;
    font-weight: normal;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    text-decoration: underline;
    cursor: hand;
}

p {
    line-height: 18px;
    margin-bottom: 20px;
    margin-top: 0px;
    display: block;
    text-align: justify;
}

ul, ol {
    color: #09a0f6;
    line-height: 18px;
    margin-bottom: 16px;
    margin-top: 0px;
    margin-left: 30px;
    list-style-type: disc;
}

ul li, ol li {
    line-height: 18px;
}

.listcolor {
    color: #526475;
}

h1, h2, h3 {
    font-weight: 300;
    color: #526475;
    display: block;
    margin-bottom: 20px;
    margin-top: 0px; }

h1 {
    font-size: 26px;
    line-height: 24px;
}

h2 {
    font-size: 22px;
    line-height: 22px;
}

h3 {
    font-size: 18px;
    line-height: 20px;
}

img {
    width: 90%;
    height: auto;
}

.post-year {
    display: inline-block;
    width: 10%;
    vertical-align: top;
}

.container {
    margin: 0 auto;
    width: 960px;
    padding: 50px 30px;
}
